[submodule "yahoo-finance"]
	path = yahoo-finance
	url = git://github.com/lukaszbanasiak/yahoo-finance.git
[submodule "stockreturnpred"]
	path = stockreturnpred
	url = git://github.com/ImperialNLP/stockreturnpred.git
